@model Guid?

@{
    ViewBag.Title = "Speedy Retro";
}
@section css{
    <style>
        .droppable {
            width: 350px;
            height: 70px;
            padding: 10px;
            border: 1px solid #aaaaaa;
        }
    </style>

}
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {

            var retros = window.sessionStorage.getItem('retros');

            if (retros && Array.isArray(retros)) {
                if (retros.indexOf("@Model") < 0) {
                    retros.push("@Model");
                }

            } else {
                var retros = [];

                retros.push("@Model");

                window.sessionStorage.setItem("retros", retros);
            }

            var centralHub = $.connection.centralHub;

            centralHub.client.onCommentStateChanged = function (userId, userComment, commentState, commentId) {
                    var comment = document.getElementById(commentId);

                    if (comment) {

                        var $td = $('td[data-commentState="' + commentState + '"]');

                        $td.children('div').append(comment);

                        console.log($td);
                    }
            };

            $.connection.hub.start().done(function () {
                $('.draggable').on('dragend', function (event) {
                    var ev = event.originalEvent;

                    var textArea = ev.target;

                    var td = textArea.parentNode.parentNode;

                    var comment = textArea.innerText;

                    var commentState = td.dataset.commentstate;

                    var userId = document.getElementById('userId').value;

                    var commentId = textArea.id;

                    //centralHub["userId"] = document.getElementById('userId').value;

                    centralHub.server.send('@Model', userId, comment, commentState, commentId)
                    .fail(function (e) {
                        console.log(e);
                    });
                });
                var array = [];

                retros.forEach(function (retroId) {
                    centralHub.server.joinGroup(retroId);

                });

            });

            $('.droppable').on('drop', function (event) {
                var ev = event.originalEvent;

                ev.preventDefault();

                var data = ev.dataTransfer.getData("plain/text");

                var obj = JSON.parse(data);

                ev.target.appendChild(document.getElementById(obj.id));
            });

            $('.droppable').on('dragover', function (event) {
                var ev = event.originalEvent;
                ev.preventDefault();
            });

            $('.draggable').on('dragstart', function (event) {
                var ev = event.originalEvent;
                setData(ev);
            });

            $('#create').click(function (event) {
                var rand = Math.random();

                var userId = document.getElementById('userId');

                var commentId = userId + '_' + rand;

                var commentMarkup = '<textarea id="' + commentId + '" class="draggable" draggable="true" ondragstart="setData(event);" width="336" height="69"></textarea>';

                $('#start').append(commentMarkup);
            });
        });

        function setData(event) {
            var id = event.target.id;
            var data = { "id": id };
            event.dataTransfer.setData("plain/text", JSON.stringify(data));
        }
    </script>
}

<button id="create">Create</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Good :)</th>
            <th>Bad :(</th>
            <th>Action Points </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <div id="start">
                    <textarea id="drag1" class="draggable" draggable="true" width="336" height="69"></textarea>
                </div>
            </th>
            <td data-commentstate="good">
                <div class="droppable">
                </div>
            </td>
            <td data-commentstate="bad"><div class="droppable"></div></td>
            <td data-commentstate="action"><div class="droppable"></div></td>
        </tr>
    </tbody>
</table>

<input type="hidden" id="userId" value="@Guid.NewGuid()" />

@*<input type="hidden" id="retroId" value="@Model" />*@